.three-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  opacity: 0.6;
}

[data-theme="dark"] .three-background {
  opacity: 0.3;
}

.three-background canvas {
  display: block;
  width: 100%;
  height: 100%;
}
